@import 'styles/variables/colors';
@import 'styles/variables/media-queries';
@import 'styles/flex';
@import 'styles/decoration';

.card {
  width: 100%;
  max-width: 380px;
  background: $pirpleLighten;
  border: 2px solid $violetSoft;
  border-radius: 24px;
  position: relative;
  padding: 70px 40px 47px 40px;
  margin: 75px auto 20px;
  order: -1;
  @include flex(column);
  z-index: 2;

  @include custom(1230px) {
    order: 0;
    width: 100%;
    margin: 80px auto 20px;
  }
}

.photoWrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 86px;
  height: 86px;
  border-radius: 10px;

  img {
    width: 100%;
  }
}

.name {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: $violetDarken;
}

.title {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: $violetLight;
  margin-top: 6px;
}

.quote {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: $violetDarken;
  margin-top: 20px;
}

.lineDecor {
  position: absolute;
  background: $pirpleLight;
  top: 50%;
  height: 2px;
  width: 120px;
}

.leftLineDecor {
  left: -122px;
}

.rightLineDecor {
  right: -122px;
}

.leftLineDecorActive,
.rightLineDecorActive {
  background: $violetSoft;
  z-index: 1;
}

.LTLineDecor {
  @include decoration;
  left: -62px;
  bottom: calc(50% - 2px);
  border-radius: 0 16px;
  border-right: none;
  border-top: none;
}

.LBLineDecor {
  @include decoration;
  left: -62px;
  top: 50%;
  border-radius: 16px 0;
  border-right: none;
  border-bottom: none;
}

.RTLineDecor {
  @include decoration;
  right: -62px;
  bottom: calc(50% - 2px);
  border-radius: 16px 0;

  border-top: none;
  border-left: none;
}

.RBLineDecor {
  @include decoration;
  right: -62px;
  top: 50%;
  border-radius: 0 16px;
  border-left: none;
  border-bottom: none;
}

.lineDecor,
.LTLineDecor,
.LBLineDecor,
.RTLineDecor,
.RBLineDecor {
  display: none;

  @include custom(1230px) {
    display: initial;
  }
}

.LTLineDecorActive,
.LBLineDecorActive {
  border-color: $violetSoft;
  z-index: 1;
  left: -63px;
}

.RTLineDecorActive,
.RBLineDecorActive {
  border-color: $violetSoft;
  z-index: 1;
  right: -63px;
}
